<div class="container">
    <div class="card">
        <div class="card-body">
            <h5>Configurações de entregas</h5>
            {{>_msg}}
            <hr>
        </div>
        <div class="card-body" >
            <form action="/config/delivery"  method="post">
                <div class="row">
                    <div class="form-group col-md-6 col-md-1">
                        <label for="">Cadastre os Bairros disponíveis para entrega</label>
                        <input type="text" required name="bairro" id="bairro" class="form-control"
                            placeholder="Digite o nome do bairro">
                    </div>
                    <div class="form-group col-md-6 col-md-1">
                        <label for="">Valor da Entrega</label>
                        <input type="text" required name="valor"  id="valor" class="form-control dinheiro" maxlength="6"
                            placeholder="Digite o valor da entrega">
                    </div>
                </div>
        </div>
        <div class="form-group mt-2" id="mobile">
            <button class="btn btn-dark col-12">Enviar Configurações</button>
        </div>
        </form>
    </div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>

<script>
    jQuery('.dinheiro').mask('#.##0,00', { reverse: true, });

</script>