<div class="constainer" id="fundo">
  <div class="modal" tabindex="1" id="popup">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Conecte-se com o Qr code</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ml-5">
          <img src="/images/qrCode.png" class="ml-5" alt="Qr code">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Salvar Qr code</button>
        </div>
      </div>
    </div>
  </div>
</div>
