<div class="container">
    {{>_msg}}
    <div class="card  mt-5">
        <div class="card-body mt-5">
            <h1 class="text-center">Nome da Empresa</h1>
            <div class="container mt-3">
                <form action="/login" method="post">
                    <div class="row col-12">
                        <div class="form-group col-12">
                            <label for="">E-mail</label>
                            <input type="text" placeholder="Digite seu E-mail" class="form-control" name="email">
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="form-group col-12">
                            <label for="">Senha</label>
                            <input type="password" placeholder="Digite sua Senha" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="row col-12 mt-2 ml-5">
                        <div class="form-group col-12 ml-5">
                            <Button class="btn btn-success col-8 ml-5">Enviar</Button>
                        </div>
                    </div>
                    <div class="row">
                        <a href="" class="text-center">Esqueci minha Senha</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>