<form action="/login" method="post">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <img class="align-content" src="/images/logo.png" alt="Logotipo">
                    </a>
                </div>
                <div class="login-form">
                    {{>_msg}}
                    <form>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control"  name="email" placeholder="DIGITE SEU EMAIL">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" class="form-control" name="password" placeholder="DIGITE SUA SENHA" >
                            {{!-- value="secret(!@#)" --}}
                        </div>
                        <div class="checkbox">
                           {{!--  <label>
                                <input type="checkbox"> Remember Me
                            </label>--}}
                            <label class="pull-right">
                                <a href="/redefinirSenha">Esqueceu a Senha?</a>
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">ENTRAR</button>
                        <div class="register-link m-t-15 text-center mt-5">
                            <p>Sua outra lanchonete ainda não possui uma conta? <a href="/register"> Crie uma conta agora e ganhe até 10% em desconto</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>