<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5>Redefinição de Senha</h5>
            <p class="mt-2">Enviamos código de confirmação para o email: {{email}}</p>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12"  align="center">
                <button class="btn btn-primary" align="center" style="border-radius: 5px;">Defefir Senha</button>
            </div>
        </div>
    </div>
</div>