{{>_modalClient}}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-text">Monte seu pedido de uma forma prática e rápida</h5>
            <hr>
            <div class="row mt-2">
                <div class="form-group col-8">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="">Selecione uma classe do Cardápios</label>
                            <select name="" id="" class="form-control">
                                <option value="">Selecione uma classe</option>
                                <option value=""></option>
                            </select>
                        </div>                        
                        <div class="form-group col-2 mt-2">
                            <button class="btn btn-outline-dark mt-4">PESQUISAR</button>
                        </div>
                    </div>
                    {{#each cardapios}}
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="">Cardápios</label>
                            <select name="" id="" class="form-control">
                                <option value="">Selecione</option>
                                <option value="">{{name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label for="">Qtd</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                        <div class="form-group col-2 mt-2">
                            <button class="btn btn-outline-dark mt-4">+</button>
                        </div>
                    </div>
                    {{/each}}                    
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="" class="ml-1">Observação</label>
                            <textarea name="" id="" cols="30" rows="10" class="form-control col-12 ml-2"
                                style="height: 100px;" style="background-color: rgba(236, 236, 236, 0.418);"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 mt-4 ml-2">
                            <button class="btn btn-outline-dark col-12">Enviar Carrinho</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-3 mt-4 ml-5"
                    style="border: rgba(180, 179, 179, 0.281) 1px solid; min-height:500px; border-radius:5px; background-color: rgba(236, 236, 236, 0.418);">
                    <h6 class="text-center mt-2">Carrinho de Compra</h6>
                    <hr>
                    <div class="row">
                        <div class="form-group ml-2">
                            <p class="text-center ml-5">1x <strong>X-Tudo</strong> 18R$</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-12">
                            <p>SubTotal: </p>
                            <p>Taixa de Entrega</p>
                            <p>Total: </p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark col-12" data-toggle="modal"
                        data-target="#MeuModal">
                        Cliente
                    </button>
                    <form action="" method="post">
                        <button class="btn btn-danger col-12 mt-2 " data-toggle="modal"
                            data-target="#MeuModal">Finalizar Pedido</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>